* { margin:0;
    padding:0;}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


#wrapper {
    display: grid;
    grid-gap: 1%;
    grid-template-columns:3fr 1fr;
    grid-template-rows: 25% 75%; 
    width: 90%;
    min-width: 960px;
    height: 100vh;
    margin: auto;
    box-shadow: 5px 10px 20px 20px #888888;
    
}

body { 
    font-family: 'Roboto', 'Helvetica', sans-serif;
    color: #fff8fb;

}

header { padding: 3em;
        background-color: #5db449;
        }

h1 { 
    
     margin-left: -.5em;
}

h3 { 
    color: black;
    padding-bottom: .5rem;
}

.redcolorfont {
        color: red;
}

.meetupcolor {
              color: white;
}

.meetupcolor2 {
              color: black;
}

.symbolsize {
    font-size: .75em;
}

aside {
    display: grid;
    background-color: #5db449;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 1.5em;
}

section {
          background-color: #5db449;
           padding: 3em;
}

img { 
    max-width: 100%;
    border: 4px dashed #e26161;
}


a:link { 
        color: black;}

a:visited {
    color: white;
}

p {
    font-family: 'Georgia', serif;
    color: black;
}

